@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@800&family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Harabara";
  src: url("../fonts/Harabara.eot");
  src: local("☺"), url("../fonts/Harabara.woff") format("woff"), url("../fonts/Harabara.ttf") format("truetype"), url("../fonts/Harabara.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  max-width: 1600px;
  margin: 0px auto;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 20px;
}

.header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 80px;
  -ms-grid-columns: minmax(auto, 210px) 1fr minmax(auto, 700px) 1fr minmax(auto, 160px);
      grid-template: 80px/minmax(auto, 210px) 1fr minmax(auto, 700px) 1fr minmax(auto, 160px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding-bottom: 15px;
}

.header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}
.header__list li {
  margin-right: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #0d6eb7;
  padding-right: 10px;
  position: relative;
}
.header__list a {
  color: #0d6eb7;
}
.header__list li:hover .sub-menu__list {
  display: block;
  -webkit-box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
          box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
}
.header__list li :hover {
  color: #00a4e8;
}
.header__list li :hover .header__check_two {
  display: block;
}

.header__check {
  background: url(/img/check.svg) right no-repeat;
  padding-left: 13px;
}

.header__check_two {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  padding-left: 13px;
}

.header__check_three {
  right: 7px;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding-top: 5px;
  border-top: 3px solid #00a4e8;
  padding-left: 15px;
  border-radius: 0 0 10px 10px;
}

.sub-menu__list_one {
  min-width: 360px;
}

.header__btn {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #06b25f;
  border-radius: 6px;
}
.header__btn a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #06b25f;
  padding: 0px 20px;
  display: inline-block;
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.header__burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #194484;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}

.header__burger:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  top: 0px;
  background-color: #194484;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}

.header__burger::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  top: 20px;
  background-color: #194484;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}

@media (max-width: 1100px) {
  .header__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: block;
    margin: 0px 15px;
  }
  .header__logo {
    margin-left: 15px;
  }
}

.vr-app-development__way {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 43px;
  margin-bottom: 121px;
}
.vr-app-development__way a {
  color: #194484;
}

.way {
  background: url(/img/arrow.svg) 50% 60% no-repeat;
  padding-left: 20px;
}

.way-two {
  display: none;
}

.vr-app-development__top {
  position: relative;
}

.vr-app-development__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vr-app-development__title {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #194484;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px 15px 241px 0px;
}

.vr-app-development__picture img {
  top: -225px;
  right: 95px;
  position: absolute;
}

.vr-app-development__row_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.vr-app-development__header1 {
  padding-right: 15px;
}

.vr-app-development__label {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0d6eb7;
  margin-bottom: 10px;
}

.vr-app-development__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #242424;
  max-width: 553px;
  min-height: 248px;
  padding-top: 10px;
}
.vr-app-development__text p {
  padding-bottom: 30px;
}
.vr-app-development__text p:last-child {
  padding-bottom: 0px;
}

.vr-app-development__header2 {
  padding-right: 35px;
}

.vr-app-development__social {
  position: absolute;
  top: 422px;
  right: 0px;
  padding: 12px 0px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(29, 51, 107, 0.25);
          box-shadow: 0px 2px 12px 1px rgba(29, 51, 107, 0.25);
  border-radius: 3px;
  display: inline-block;
}
.vr-app-development__social div {
  padding: 12px 0px;
}
.vr-app-development__social :last-child {
  padding-bottom: 0px;
}
.vr-app-development__social :first-child {
  padding-top: 0px;
}

.vr-app-development__icon_1 img {
  padding: 0px 12px;
}

.vr-app-development__icon_2 {
  border-top: 1px solid rgb(190, 187, 187);
  border-bottom: 1px solid rgb(190, 187, 187);
}
.vr-app-development__icon_2 img {
  padding: 12px 12px;
}

.vr-app-development__icon_3 {
  border-bottom: 1px solid rgb(190, 187, 187);
}
.vr-app-development__icon_3 img {
  padding: 12px 12px;
}

.vr-app-development__icon_4 img {
  padding: 0px 12px;
}

@media (max-width: 1100px) {
  .vr-app-development__picture img {
    width: 300px;
    top: -150px;
    right: 95px;
    position: absolute;
  }

  .vr-app-development__title {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #194484;
    text-transform: uppercase;
    margin: 0px 15px 241px 0px;
  }
}
@media (max-width: 767px) {
  .vr-app-development__picture img {
    width: 150px;
    top: -52px;
    right: 95px;
    position: absolute;
  }

  .vr-app-development__title {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #194484;
    text-transform: uppercase;
    margin: 0px 15px 241px 0px;
  }
}
@media (max-width: 500px) {
  .vr-app-development__title {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #194484;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0px 15px 241px 0px;
    text-align: center;
  }

  .vr-app-development__way {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 43px;
    margin-bottom: 36px;
  }
  .vr-app-development__way a {
    color: #194484;
  }

  .vr-app-development__row {
    display: block;
  }

  .vr-app-development__picture img {
    min-width: 240px;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, 0%, 0px);
            transform: translate3d(-50%, 0%, 0px);
  }

  .vr-app-development__title {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #194484;
    text-transform: uppercase;
    margin: 0px 0px 241px 0px;
  }

  .vr-app-development__row_bot {
    display: block;
  }

  .vr-app-development__header1 {
    padding-right: 0px;
  }

  .vr-app-development__header2 {
    padding-right: 0px;
    margin-top: 40px;
  }

  .vr-app-development__label {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0d6eb7;
    margin-bottom: 12px;
    text-align: center;
  }

  .vr-app-development__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #242424;
    padding-top: 10px;
  }
  .vr-app-development__text p {
    padding-bottom: 30px;
  }
  .vr-app-development__text p:last-child {
    padding-bottom: 0px;
  }

  .header__burger {
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #194484;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
  }

  .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 0px;
    background-color: #194484;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
  }

  .header__burger::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 20px;
    background-color: #194484;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
  }

  .way-one {
    display: none;
  }

  .way-two {
    display: block;
  }

  .vr-app-development__social {
    display: none;
  }
}
.clutch {
  text-align: center;
}

.clutch__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 29px 33px 35px 33px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
          box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 16px;
  margin-bottom: 190px;
}

.clutch__img {
  margin-right: 100px;
}

.clutch__stars_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clutch__stars_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  text-transform: uppercase;
  color: #242424;
  padding-right: 10px;
}

.clutch__stars_img {
  position: relative;
}

.clutch__position_0 {
  position: absolute;
  top: 0px;
  right: -30px;
}

.clutch__position {
  position: relative;
}

.absolut {
  position: absolute;
  top: 0px;
  left: 0px;
}

.clutch__stars_reviews {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #242424;
  margin: 0px 71px 0px 47px;
}

.clutch__btn a {
  display: inline-block;
  padding: 6px 20px;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  background: #06b25f;
  border-radius: 6px;
  text-transform: uppercase;
}

@media (max-width: 976px) {
  .clutch__row {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 31px 0px 53px 0px;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
            box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;
    margin-bottom: 80px;
  }

  .clutch__img {
    margin-right: 0px;
  }

  .clutch__stars_reviews {
    margin: 0px 0px 0px 47px;
  }

  .clutch__btn {
    padding: 3px 20px;
  }

  .clutch__stars_row {
    margin: 30px 0px 40px 0px;
  }
}
@media (max-width: 365px) {
  .clutch__btn {
    margin: 0px 19px;
    text-transform: uppercase;
  }
}
.services__title {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #194484;
  margin-bottom: 70px;
}

.services__row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: ;
  grid-template-columns: repeat(4 minmax(auto, 322px));
  -ms-grid-rows: 320px;
  grid-template-rows: 320px;
  row-gap: 60px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.services__row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.services__row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.services__row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.services__row > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.services__row :hover {
  background-color: #fff;
}

.service__row_two {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 18px  18px 1fr;
  grid-template-columns: 1fr repeat(3 minmax(auto, 322px)) 1fr;
  -ms-grid-rows: 320px;
  grid-template-rows: 320px;
  padding: 0px 173px;
  margin: 60px 0px 248px 0px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  cursor: pointer;
}

.service__row_two > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.service__row_two > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.service__row_two > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.service__row_two > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.service__row_two > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.service__row_two :hover {
  background-color: #fff;
}

.services__card {
  width: 320px;
  height: 322px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f8fd;
  -webkit-box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
          box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
  border-radius: 16px;
}

.services__icon {
  text-align: center;
  padding-top: 50px;
}

.services__text {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0d6eb7;
  padding-bottom: 33px;
}

.services__text_padding {
  padding-bottom: 40px;
}

@media (max-width: 1410px) {
  .services__row {
    -ms-grid-columns: ;
    grid-template-columns: repeat(2 minmax(auto, 322px));
    -ms-grid-rows: 320px 40px 320px;
    grid-template-rows: 320px 320px;
    -webkit-column-gap: 37px;
       -moz-column-gap: 37px;
            column-gap: 37px;
    row-gap: 40px;
  }
  .services__row > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .services__row > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .services__row > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .services__row > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .service__row_two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ;
    grid-template-columns: repeat(2 minmax(auto, 322px));
    -ms-grid-rows: 320px;
    grid-template-rows: 320px;
    -webkit-column-gap: 37px;
       -moz-column-gap: 37px;
            column-gap: 37px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0px 248px 0px;
    position: relative;
  }

  .service__row_two > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .service__row_two > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .service__row_two :nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 62%, 0px);
            transform: translate3d(-50%, 62%, 0px);
  }
}
@media (max-width: 725px) {
  .services__title {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .services__row {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: -170px;
  }

  .service__row_two {
    margin-top: -230px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@media (max-width: 435px) {
  .services__row {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    margin-top: -220px;
  }

  .service__row_two {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    margin-top: -283px;
    padding: 0px;
  }
}
.services__talk {
  position: relative;
  margin: 0px 0px 180px 0px;
}

.services__talk_bg {
  position: relative;
}
.services__talk_bg img {
  width: 100%;
  height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__talk_back {
  position: relative;
  -webkit-transform: scaleY(1.15);
          transform: scaleY(1.15);
}
.services__talk_front {
  position: absolute;
  top: 25px;
  left: 0px;
  -webkit-transform: scaleY(0.99);
          transform: scaleY(0.99);
}
.services__talk_row {
  display: -ms-grid;
  display: grid;
  position: absolute;
  justify-items: center;
  text-align: center;
  min-width: 1100px;
  /*top: 238px;
    left: 263px;*/
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0px);
          transform: translate3d(-50%, -50%, 0px);
}

.services__talk_text-one {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.services__talk_text-two {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 36px;
}

.services__talk_btn {
  background: #ffffff;
  border: 2px solid #06b25f;
  border-radius: 6px;
}
.services__talk_btn a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: #06b25f;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 30px;
}

@media (max-width: 1410px) {
  .services__talk {
    margin-top: 500px;
  }

  .services__talk_row {
    display: -ms-grid;
    display: grid;
    position: absolute;
    justify-items: center;
    text-align: center;
    min-width: 700px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0px);
            transform: translate3d(-50%, -50%, 0px);
  }
}
@media (max-width: 730px) {
  .services__talk {
    margin-top: -20px;
  }

  .services__talk_row {
    min-width: 325px;
  }

  .services__talk_text-one {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
  }

  .services__talk_text-two {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}
.vr-app-development__row_second {
  margin: 0px 0px 180px 0px;
}

.contacts__title {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #194484;
  margin-bottom: 60px;
}

.contacts__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #242424;
  margin-bottom: 20px;
}

.contacts__subsubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #242424;
  margin-bottom: 108px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__left {
  padding-right: 95px;
}

.contacts__left_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #242424;
  margin: 0px 0px 24px 0px;
  padding-left: 37px;
}
.contacts__left_text a {
  color: #242424;
}

.contacts__city {
  background: url(/img/contacts/location.svg) 0 0% no-repeat;
}

.contacts__phone {
  background: url(/img/contacts/phone.svg) left no-repeat;
}

.contacts__wa {
  background: url(/img/contacts/wa.svg) left no-repeat;
}

.contacts__skype {
  background: url(/img/contacts/skype.svg) left no-repeat;
}

.contacts__mail {
  background: url(/img/contacts/latter.svg) left no-repeat;
}

.contacts__fb {
  background: url(/img/contacts/fb.svg) left no-repeat;
}

.contacts__right {
  padding-left: 95px;
  position: relative;
  margin-bottom: 50px;
}

.contacts__card {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
          box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 6px;
  padding: 50px 41px 70px 40px;
  z-index: 5;
}

.contacts__name {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 0px 9px 15px;
  margin-bottom: 20px;
  color: #a9a9a9;
}

.contacts__mail_right {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  padding: 10px 0px 9px 15px;
  margin-bottom: 20px;
}

.contacts__message {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  padding: 10px 0px 49px 16px;
  margin-bottom: 30px;
}

.contacts__btn a {
  padding: 13px 96px 15px 96px;
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  background: #2da531;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__pic-1 img {
  position: absolute;
  top: -64px;
  left: 0px;
}

.contacts__pic-2 img {
  position: absolute;
  top: -52px;
  right: -78px;
}

.contacts__pic-3 img {
  position: absolute;
  bottom: 33px;
  left: -14px;
}

@media (max-width: 1000px) {
  .contacts__container {
    text-align: center;
  }

  .contacts__title {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #194484;
    margin-bottom: 14px;
  }

  .contacts__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242424;
    margin-bottom: 34px;
  }

  .contacts__subsubtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #242424;
    margin-bottom: 32px;
  }

  .contacts__left_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    color: #242424;
  }

  .contacts__city {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #242424;
    text-align: start;
    background: url(/img/contacts/location.svg) 0 0% no-repeat;
  }

  .contacts__row {
    display: block;
  }

  .contacts__left {
    padding: 0px;
    display: inline-block;
    max-width: 420px;
    margin-bottom: 67px;
  }

  .contacts__right {
    padding: 0px;
    display: inline-block;
  }

  .contacts__name {
    text-align: start;
  }

  .contacts__mail_right {
    text-align: start;
  }

  .contacts__message {
    text-align: start;
  }

  .contacts__pic_none {
    display: none;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  .services__talk {
    margin: 0px;
  }

  .vr-app-development__row_second {
    margin-bottom: 106px;
  }

  .contacts__left {
    max-width: 320px;
  }

  .contacts__card {
    padding: 40px 22px 42px 23px;
  }

  .contacts__name {
    min-width: 275px;
  }

  .contacts__mail_right {
    min-width: 275px;
  }

  .contacts__message {
    min-width: 275px;
  }

  .contacts__btn a {
    padding: 13px 32px 15px 30px;
    display: inline-block;
    color: #ffffff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    background: #2da531;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 1000px) and (max-width: 370px) {
  .contacts__card {
    padding: 20px 4px 20px 4px;
  }

  .contacts__left {
    padding: 0px;
    display: inline-block;
    max-width: 420px;
    margin-bottom: 37px;
  }
}
.projects__bg_relativ {
  position: relative;
}

.projects__bg {
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
  position: relative;
  padding: 0px 0px 85% 0px;
}
.projects__bg img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__cards {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0px);
          transform: translate3d(-50%, -50%, 0px);
}

.projects__title {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #194484;
  margin-bottom: 109px;
}

.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.projects__ori {
  position: relative;
}

.projects__block {
  margin: 0 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
          box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 16px;
}

.project__box_absl {
  position: relative;
}

.projects__img img {
  margin-bottom: 15px;
  border-radius: 16px 16px 0px 0px;
}

.projects__subimage {
  padding: 0px 16px 20px 16px;
}

.projects__img_absl {
  position: absolute;
  top: 10px;
  right: 0px;
}

.projects__label {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0d6eb7;
  margin-bottom: 8px;
}

.projects__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 1505px) {
  .projects__row {
    display: block;
  }
}